body {
  background: #ddd;
  color: #485c66;;
}
* {
  font-size: 14px;
  font-weight: 400;
}
.mdl-tooltip.mdl-tooltip--large {
  max-width: 300pt;
}

.page-content {
  padding: 10pt;
}

#hidden_canvas {
  display: none;
}

.card-wide.mdl-card {
  width: auto;
  min-height: auto;

  margin: auto;
  margin-bottom: 10pt;

  padding-top: 4pt;
  padding-bottom: 4pt;
  padding-left: 8pt;
  padding-right: 8pt;
}

/* CONTROLS -------------- */
.control_section {
  margin-top: 4pt;
  margin-bottom: 4pt;
}
.holder {
  margin-left: 10pt;
}

/* titles */
.title_icon {
  display: inline-block;
  vertical-align: top;
}
.title_text {
  display: inline-block;
  vertical-align: top;
  margin-top: 1pt;
}
p {
  margin-bottom: 0pt;
}

/* uploading */
#selector {
  display: none;
}
#img-name {
  margin-left: 8pt;
}

/* palette setting */
#palette_setting_title {
  margin-bottom: 10pt;
}

#palette_setting_holder {
  display: inline-block;
  vertical-align: top;
  margin-top: 6pt;
}

#radio_palette_outer {
  margin-left: 40pt;
}
#radio_random_outer {
  margin-left: 20pt;
}

#field_colors {
  width: 220pt;
}
#gen_pal {
  margin-right: 20pt;
}
#percent_done {
  margin-left: 8pt;
}

/* palette recoloring */
#sliders_title, #i_sliders_title {
  margin-bottom: 10pt;
}
#sliders_holder, #i_sliders_holder {
  display: inline-block;
  vertical-align: top;
  margin-top: 6pt;
}
.slider_and_text_holder {
  display: block;
}
.slider_holder {
  display: inline-block;
  width: 200pt;

  margin-bottom: 5pt;
  margin-top: 5pt;
}
.slider_color {
  display: inline-block;
  width: 200pt;
}
.slider_text {
  display: inline-block;
  padding-top: 0pt;
  width: 24pt;
}
.slider_text_input {
  text-align: center;
}

#slider_r_text {
  border-radius: 2pt;
  background: #fff1f1;
}
#slider_g_text {
  border-radius: 2pt;
  background: #f1fff1;
}
#slider_b_text {
  border-radius: 2pt;
  background: #f1f1ff;
}


/* palette deviation intervals */
#i_slider_r_text {
  border-radius: 2pt;
  background: #fff1f1;
}
#i_slider_g_text {
  border-radius: 2pt;
  background: #f1fff1;
}
#i_slider_b_text {
  border-radius: 2pt;
  background: #f1f1ff;
}


/* palette itself */
.palette {
  margin-top: 10pt;
}
.colorSquare {
  display: inline-block;

  height: 24pt;
  width: 24pt;

  margin: 1pt;
}
.colorSquare:hover {
  filter: brightness(110%)
}

/* main controls */
#progress_holder {
  display: inline-block;
}
#iterations {
  margin-left: 8pt;
}

/* IMAGE DISPLAY --------- */
.images {
  overflow: auto;
}

canvas {
  margin-top: 8pt;
  margin-bottom: 8pt;
}
